.form-holder-wrap {
    padding: 0;
    margin: 10px 0px 10px 0px;
}

.form-holder-wrap div.name {
    border-width: 1px;
    border-style: solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-color: #AAA;
    background: linear-gradient(#FFFFFF, #E6EAF3, #CDD6E6);

    padding: 8px 10px;

    font-size: 120%;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 0px #FFF;
}

.form-holder-wrap div.content {
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 2px 8px 8px 8px;

    background-color: #FCFCFC;
    border-color: #AAA;
    background-color: #ECEFF6;
    /*background-color: #F3F5F9;
    background: linear-gradient(#FFFFFF, #E6EAF3);*/
}
